@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');

:root {
	--black: #000;
	--white: #F5F5F5;

	--table: linear-gradient(var(--black), #5E35B1);
	--abs-btn: #5E35B1;
	--abs-btn-glowing: #5E35B166;

	--bdrs: 4px;

	--basis: #26C6DA;
}

::selection {
	color: var(--black);
	background-color: var(--basis);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: var(--white);
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--black);
}

button {
	cursor: pointer;

	padding: 0.5rem 1rem;
	background-color: var(--black);
	border: none;
	border-radius: var(--bdrs);
	box-shadow: 0 0 10px #0004;

	font-size: 1.1rem;
}

button:hover,
button:focus {
	outline: 1px solid var(--white);
}

.create-button {
	margin-top: 1rem;
}

.create-button--container {
	grid-column: span 4;
}

.delete-button {
	position: absolute;
	right: -10rem;
	top: 50%;

	border: 1px solid var(--abs-btn);
	box-shadow: 0 0 10px var(--abs-btn-glowing);

	transform: translateY(-50%);
}

.grid-table {
	--border-width: 1px;
	--font-size: 1.3rem;

	position: relative;
	display: grid;
	grid-template-columns: repeat(4, minmax(6rem, 1fr));

	margin-bottom: 2rem;

	font-weight: bold;
}

.grid-table .headcell,
.grid-table .cell {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.5rem;
	font-size: var(--font-size);
}

#output-container .grid-table .headcell,
#output-container .grid-table .cell {
	padding: 1rem 0.5rem;
}

.grid-table .headcell:nth-of-type(n + 5),
.grid-table .cell:nth-of-type(n + 5) {
	border-top: var(--border-width) solid var(--white);
}

.grid-table .headcell:not(:nth-of-type(4n + 1)),
.grid-table .cell:not(:nth-of-type(4n + 1)) {
	border-left: var(--border-width) solid var(--white);
}

.grid-table input[type=text],
.grid-table input[type=number] {
	width: 8rem;
	max-width: 70%;
	padding: 12px;
	background-color: transparent;
	border: none;
	border-radius: var(--bdrs);
	outline: none;

	font-size: var(--font-size);
	font-weight: bold;
}

.grid-table input[type=text]:focus,
.grid-table input[type=number]:focus,
.grid-table input[type=text]:hover,
.grid-table input[type=number]:hover {
	outline: thin solid var(--white);
}

.grid-table input[type=text]::placeholder,
.grid-table input[type=number]::placeholder {
	color: #fff8;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#init-table-container,
#output-container {
	max-width: 100%;
	margin: 2rem;
	padding: 2rem;
	background: var(--table);
	border-radius: 24px;
	box-shadow: inset 0 -5px 20px #000b;
}

#init-table-container:empty,
#output-container:empty {
	display: none;
}

.basis {
	background: #0004;
	color: var(--basis);
}

.row-basis-top {
	border-top: 2px solid var(--basis) !important;
}

.row-basis-bottom {
	border-bottom: 2px solid var(--basis) !important;
}

.column-basis-left {
	border-left: 2px solid var(--basis) !important;
}

.column-basis-right {
	border-right: 2px solid var(--basis) !important;
}

.grid-table:nth-of-type(n + 2) {
	margin-top: 6rem;
}

.grid-table::before {
	position: absolute;
	top: -4rem;
	left: 50%;

	padding: 1rem 2rem;
	background: #0004;
	border-radius: var(--bdrs);

	font-size: 1.4rem;
	text-align: center;

	transform: translateX(-50%);
}

.secondary:not(:last-of-type)::before {
	content: '+';
}

.main:nth-of-type(n + 2)::before {
	content: '=';
}

.secondary:last-of-type::before {
	content: 'Table of additions';
	width: 100%;
}

.negative-row::before {
	content: 'Append negative row';
	width: 100%;
}

.fractional-row::before {
	content: 'Append fractional row';
	width: 100%;
}

a.portfolio {
	display: block;

	padding: 0.5rem;

	text-align: center;
	text-decoration: none;
}

#output-container button {
	margin-right: 1rem;
}

#output-container p {
	text-align: center;
	font-size: 1.2rem;
}

.message--container {
	display: grid;
	grid-template-areas: 'p p' '. .';
	gap: 0.5rem;
}

.message--container p {
	grid-area: p;
	justify-self: center;	
}

.menu {
	padding: 2rem;
}

.menu li {
	list-style: none;
}

.menu li a {
	cursor: pointer;
	display: block;

	padding: 1rem;

	font-size: 1.2rem;
	text-decoration: none;

	transition: 0.3s background-color;
}

.menu li a:hover {
	background-color: #fff2;
}

@media (max-width: 1000px) {
	#init-table-container,
	#output-container {
		width: 100%;
		margin: 0;
		margin-bottom: 2rem;
	}

	#init-table-container {
		padding-right: 7rem;
	}

	.delete-button {
		right: -6.5rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 11px;
	}
}

@media (max-width: 380px) {
	html {
		font-size: 10px;
	}
}